{% extends 'layouts/base.html' %}

{% block title %}All Stories{% endblock %}

{% block content %}
    <form action="/stories/" method="post">
        <label>
            Ajax Search:
            <input type="search" id="search"/>
        </label>
    </form>
    <ol>
        {% for story in stories %}
            <li>
                {{ story }} | {{ story.created }}
            </li>
        {% endfor %}
    </ol>

    <p>Search Results:</p>

    <div class="stuff">

    </div>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/self/AllStories.js' %}"></script>
{% endblock %}